 <!-- Start Header Top 
    ============================================= -->
    <div class="top-bar-area inline inc-border">
        <div class="container">
            <div class="row">
                <div class="col-md-8 address-info text-left">
                    <div class="info box">
                        <ul>
                            <li>
                                <i class="fas fa-map-marker-alt"></i> Pune Camp
                            </li>
                            <li>
                                <i class="fas fa-envelope-open"></i> aarmankhan36@gmail.com
                            </li>
                            <li>
                                <i class="fas fa-phone"></i> +91-9568884803
                            </li>
                        </ul>
                    </div>
                </div>
                <div class="col-md-4 bar-btn text-right">
                    <a href="contact">Make Appoinment</a>
                </div>
            </div>
        </div>
    </div>
    <!-- End Header Top -->